/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.up
{
  position: absolute;
  position: fixed;
  margin-left: 87%;
}

/*rules common*/
h3{
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: black;
}
/*end rules common*/


/*rules of the navbar*/
.nav
{
  background-color: black;
}

.nav .lien, .nav .navsupport .lien, .nav .navsupport .navsupport1 .lien
{
  color: white;
}

.nav .navbouton
{
  background-color: white;
}

.nav .lien:hover, .nav .navsupport .lien:hover, .nav .navsupport .navsupport1 .lien:hover
{
  color: grey;
}

.nav .navbouton:hover
{
  background-color: white;

  		opacity: 0.9;
}
/*end rules of the navbar*/



/*rules for the header*/

   .fullscreen figure img {
       height: 80vh;
       width: 100%;
   }

/*end rules for the header*/


/*rules div presentation*/
.moi
{
  margin-top: 2em;
}

.moi h3, .moi p
{
  margin-left: 5%;
}

.moi p
{
  margin-top: 1em;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
}

h5
{
  margin-top: 25px;
  margin-left: 5%;
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
}

.loisirs
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}

.class_test
{
    text-align: center;
    display: inline-block;
    position: relative;
}

    .class_test:hover p.text
    {
        opacity: 1;
    }

.class_test p.text
{
    color: #FFF;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    top: 0;
    opacity: 0;
    display: block;
    position: absolute;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    margin-left: 15%;
}

.class_test img
{
  width: 200px;
  height: 200px;
  margin-left: 15%;
}

/*end rules div presentation*/


/*rules div competence*/
.competence .frontend img, .competence .backend img{
  height: 70px;
}

.frontend, .backend{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.competence h3
{
  margin: 5%;
}

.bouton
{
  margin-left: 5%;
  margin-top: 26px;
  margin-bottom: 17px;
  background-color: #474747;
  border: solid 1px #474747;
}

.bouton:hover
{
  background-color: grey;
  border: solid 1px grey;  
}
/*end rules div competence*/


/*rules div projets*/
.projets .slide1 img, .projets .slide2 img{
  height: 230px;
}

h4
{
  padding-left: 2%;
  padding-top: 2px;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #474747;
}

.slide1 .indicator, .slide2 .indicator
{
  background-color: black;
}

.slide1 .indicator:hover, .slide2 .indicator:hover
{
  background-color: grey;
}

.projets .slide1{
  display: flex;
  justify-content: center;
}

.projets .slide2{
  display: flex;
  justify-content: center;
}
/*end rules div projets*/


/*rules div contact*/
iframe
{
  width: 100%;
  height: 25vh;
}

.coordonnees
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.coordonnees p, .coordonnees a
{
  color: #474747;
  font-size: 12px;
}

.coordonnees p:hover, .coordonnees a:hover
{
  color: grey;
  text-decoration: none;
}

.dispo
{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dispo p, .dispo i
{
  width: 90%;
  display: flex;
  justify-content: center;
}

.dispo i
{
  font-size:70px;
  color:#474747;
}

.dispo p
{
  margin-top: 9px;
  color: #474747;
  font-size: 13px;
  font-family: 'Orbitron', sans-serif;
}
/*end rules div contact*/


/*rules footer*/
footer
{
  background-color: black;
  margin-top: 1em;
  padding: 1em;
}

footer p
{
  color: white;
  margin-left: 5%;
  font-size: 12px;
}
/*end rules footer*/


@media (min-width:645px) {

  /*rules common*/
  h3{
    font-size: 20px;
  }
  /*end rules common*/


  /*rules div presentation*/

  .moi p
  {
    font-size: 17px;
  }
  /*end rules div presentation*/

  /*rules div competence*/
  .competence .frontend img, .competence .backend img{
    height: 90px;
  }
  /*end rules div competence*/

  /*rules div projets*/
  .projets .slide1 img, .projets .slide2 img{
    height: 250px;
  }

  /*end rules div projets*/

  /*rules div contact*/

  .coordonnees p, .coordonnees a
  {
    font-size: 15px;
  }

  .dispo p
  {
    font-size: 13px;
  }

  .dispo i
  {
    font-size: 110px;
  }
  /*end rules div contact*/

  /*rules footer*/
  footer p
  {
    font-size: 15px;
  }
  /*end rules footer*/
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
